.tablet-content, .desktop-content{
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'Big Shoulders Display';
}

/* Styling main */

img{
    width: 100%;
}

h1{
    font-size: 6rem;
    font-weight: 900;
    line-height: 5.5rem;
}

.main-container{
    padding: 3.2rem 1.6rem 0 1.6rem;
}

p{
    font-family: 'Outfit';
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #444444;
}

.main-container p{
    margin: 3.2rem 0 3.2rem 0;
}

.location-container{
    display: flex;
    padding-bottom: 12rem;
}

a{
    font-size: 2rem;
    color: white;
    text-decoration: none;

    font-family: 'Big Shoulders Display';
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6363637447357178px;
}

.our-location, .arrow{
    display: inline-block;
    padding: 2.4rem 3.3rem;
    background: #151515;
}

.arrow{
    background: #D5966C;
    padding: 2.4rem 3.3rem;
}

/* Styling SECTION */

section{
    padding: 0 1.6rem;
    margin-bottom: 12rem;
}

section h1{
    padding: 2.3rem 0;
}

section p{
    margin-bottom: 3.2rem;
}

/* Styling invitation container */

.invitation-container{
    display: grid;
    gap: 1.6rem;
}

.get-inspired{
    height: 29.3rem;
    background-color: #151515;
    padding: 4.8rem 2.4rem;
}

h2{
    font-size: 5rem;
    font-weight: 900;
    line-height: 5.5rem;
    color: white;
}

.get-inspired p{
    color: white;
    margin-top: 2.4rem;
}

/* styling footer */

footer{
    background-color: #151515;
    height: 33.6rem;
    padding: 4.8rem 3.2rem;
}

footer h5{
    font-size: 4rem;
    color: white;
    font-weight: 800;
}

footer p{
    color: white;
    margin: 3.8rem 0;
}

.icons{
    display: flex;
    gap: 20px;
}

.icons img{
    width: 20px;
    height: 20px;
}

/* TABLET VERSION */

@media only screen and (min-width: 768px) {
    .mobile-content{
        display: none;
    }

    .tablet-content{
        display: initial;
    }

    #tablet-p{
        display: block;
    }

    main{
        position: relative;
        margin-bottom: 12rem;
    }

    main img{
        width: 56.901041666%;
    }

    .main-container{
        position: absolute;
        top: 18.880208333%;
        left: 50.6510416667%;
        right: 5.20833333333%;
    }

    /* styling section */

    .intro-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .intro-container .intro-img{
        min-width: 54.0760869565%;
        margin-bottom: 1.1rem;
    }

    .intro-txt{
        padding: 0 6.8rem 0 3.9rem;
    }

    /* Styling Grid - invitation container */

    .invitation-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 5fr;
        grid-template-areas: 
        "tall short short short short"
        "tall short short short short"
        "tall short short short short"
        "tall content content content content"
        "tall content content content content"
        "tall content content content content";
        grid-gap: 1.1rem;
    }

    #tall-img-tablet{
        grid-area: tall;
        max-height: 720px;
    }

    #short-img-tablet{
        grid-area: short;
        max-height: 313px;
    }

    .get-inspired{
        height: 396px;
        grid-area: content;
        padding: 8.5rem 2.9rem;
    }

    /* styling footer */

    footer{
        padding: 5.6rem 4rem;
        height: auto;
        display: flex;
        align-items: top;
        justify-content: space-between;
    }

    footer h5{
        font-size: 2rem;
        width: 110.05px;
    }

    .icons{

    }

    #tablet-p{
        font-family: Outfit;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        width: 36.5885416667%;
        margin: 0;
    }
}  

@media only screen and (min-width: 1200px) {
    main{
        font-size: 0;
    }
    .tablet-content{
        display: none;
    }
    .desktop-content{
        display: initial;
    }

    #desktop-background{
        display: inline-block;
        width: 450px;
        height: 800px;
        background-color: black;
    }

    #desktop-hero-img{
        max-width: 540px;
    }

    .main-container{
        top: 23.625%;
        left: 64.5048814505%;
        right: 11.4365411437%;
    }
    
    .main-container h1{
        position: absolute;
        left: -212.5%;
        top: 13%;
        color: white;
        mix-blend-mode: difference; /* make the text color opposite of the image color */
        opacity: 0.9;
        font-size: 9.6rem;
        padding: 0;
        width: 51.4rem;
        height: 17.6rem;
        line-height: 10rem;
    }

    section{
        padding-left: 16.5rem;
        padding-right: 16.5rem;
    }

    /* styling section */

    /* .invitation-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "tall short"
        "tall content";
        grid-gap: 1.1rem;
    } */

    #tall-img-desktop{
        grid-area: tall;
        height: 720px;
    }

    #short-img-desktop{
        grid-area: short;
        max-height: 313px;
    }

    footer{
        padding: 8rem 16.5rem;
    }

}